[submodule "vendor/WinputDotNet"]
	path = vendor/WinputDotNet
	url = git://github.com/strager/WinputDotNet.git
[submodule "vendor/wpf-notifyicon"]
	path = vendor/wpf-notifyicon
	url = git://github.com/strager/wpf-notifyicon.git
