<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoCap.Extensions.Default.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NoCap.Extensions.Default.Properties.Settings>
            <setting name="imgurApiKey" serializeAs="String">
                <value>91ac22c0c09ff46a0532d0a2c504634b</value>
            </setting>
            <setting name="sendSpaceApiKey" serializeAs="String">
                <value>0CTJJTTH76</value>
            </setting>
            <setting name="updateUri" serializeAs="String">
                <value>http://nocapapp.com/api/update/</value>
            </setting>
            <setting name="updateFrequency" serializeAs="String">
                <value>00:10:00</value>
            </setting>
        </NoCap.Extensions.Default.Properties.Settings>
    </applicationSettings>
</configuration>
